version: "3.9"

services:
  backend:
    container_name: imagefind-backend
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  frontend:
    container_name: imagefind-frontend
    build: ./front
    ports:
      - "3000:80"
